#header{
   display:flex;
   flex-wrap:wrap;
   flex-direction:row;
   justify-content:space-between;
   align-items:center;
   padding:16px 120px;
}
#headerimg{
   width:139px;
   height:60px;
}
#navItem{
   display:flex;
   flex-wrap:wrap;
   flex-direction:row;
   justify-content:flex-start;
   gap:32px;
   align-items:center;
}
#navItem li{
   list-style-type:none;
}
#navItem li a{
   text-decoration:none;
   color:black;
}
#headerBtn{
   width:164px;
   height:44px;
   background-color:#30B868;
   border:none;
   color:white;
}